#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Menu_item_1 {
  height: 59px;
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Menu_item_2 {
  height: 59px;
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Menu_item_3 {
  height: 59px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}