#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a80a3b1a-a092-4212-9c07-ed1b248f1c6e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}