#s-bbe1f34a-d230-47f3-a397-d0fc61afbc8b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe1f34a-d230-47f3-a397-d0fc61afbc8b #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe1f34a-d230-47f3-a397-d0fc61afbc8b #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe1f34a-d230-47f3-a397-d0fc61afbc8b #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe1f34a-d230-47f3-a397-d0fc61afbc8b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe1f34a-d230-47f3-a397-d0fc61afbc8b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe1f34a-d230-47f3-a397-d0fc61afbc8b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe1f34a-d230-47f3-a397-d0fc61afbc8b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe1f34a-d230-47f3-a397-d0fc61afbc8b #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe1f34a-d230-47f3-a397-d0fc61afbc8b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe1f34a-d230-47f3-a397-d0fc61afbc8b #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe1f34a-d230-47f3-a397-d0fc61afbc8b #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe1f34a-d230-47f3-a397-d0fc61afbc8b #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe1f34a-d230-47f3-a397-d0fc61afbc8b #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe1f34a-d230-47f3-a397-d0fc61afbc8b #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe1f34a-d230-47f3-a397-d0fc61afbc8b #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe1f34a-d230-47f3-a397-d0fc61afbc8b #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbe1f34a-d230-47f3-a397-d0fc61afbc8b #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bbe1f34a-d230-47f3-a397-d0fc61afbc8b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}