#s-bef3efd1-ae1e-4e84-b28b-c7ad9ea127a6 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bef3efd1-ae1e-4e84-b28b-c7ad9ea127a6 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bef3efd1-ae1e-4e84-b28b-c7ad9ea127a6 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bef3efd1-ae1e-4e84-b28b-c7ad9ea127a6 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bef3efd1-ae1e-4e84-b28b-c7ad9ea127a6 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bef3efd1-ae1e-4e84-b28b-c7ad9ea127a6 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bef3efd1-ae1e-4e84-b28b-c7ad9ea127a6 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bef3efd1-ae1e-4e84-b28b-c7ad9ea127a6 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bef3efd1-ae1e-4e84-b28b-c7ad9ea127a6 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bef3efd1-ae1e-4e84-b28b-c7ad9ea127a6 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bef3efd1-ae1e-4e84-b28b-c7ad9ea127a6 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bef3efd1-ae1e-4e84-b28b-c7ad9ea127a6 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bef3efd1-ae1e-4e84-b28b-c7ad9ea127a6 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bef3efd1-ae1e-4e84-b28b-c7ad9ea127a6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}