#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}