#s-df1e833c-5086-46c7-b7e3-405b6ae13846 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_3 {
  position: absolute;
  width: 323px;
  height: 245px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_3 > .clipping, #s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_3 > .paddingLayer {
  height: 245px;
  width: 323px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #20720D;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_1 {
  position: absolute;
  width: 360px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_1 > .clipping, #s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_1 > .paddingLayer {
  height: 60px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #shapewrapper-s-Ellipse_1 > .shapert-clipping {
  width: 50px;
  height: 50px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #shapewrapper-s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  position: absolute;
  overflow: hidden;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  width: 50px;
  height: 50px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #shapewrapper-s-Ellipse_1 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Ellipse_1 {
  width: 50px;
  height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #D9D9D9;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/34fddcb4-0d94-4115-9cc4-dbc26dad6cd3.jpeg');
  box-shadow: none;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #shapewrapper-s-Ellipse_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #shapewrapper-s-Ellipse_2 > .shapert-clipping {
  width: 12px;
  height: 12px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #shapewrapper-s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
  overflow: hidden;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  width: 12px;
  height: 12px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #shapewrapper-s-Ellipse_2 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Ellipse_2 {
  width: 12px;
  height: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #shapewrapper-s-Ellipse_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #20720D;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_2 {
  position: absolute;
  width: 360px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_2 > .clipping, #s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_2 > .paddingLayer {
  height: 60px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_1 > .clipping, #s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_1 span {
  color: #FDE100;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FDE100;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Image_1 {
  position: absolute;
  width: 40px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Image_1 > img, #s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Image_1 > svg {
  height: 36px;
  width: 40px;
  box-shadow: none;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Menu_1 {
  position: absolute;
  width: 360px;
  height: 61px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Menu_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Menu_item_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Menu_item_1 {
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Menu_item_1-nodetext {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-Menu_item_1-submenu {
  left: calc(100% + 1px);
  top: calc(0px - 1px);
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Menu_item_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Menu_item_2 {
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Menu_item_2-nodetext {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-Menu_item_2-submenu {
  left: calc(100% + 1px);
  top: calc(0px - 1px);
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Menu_item_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Menu_item_3 {
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Menu_item_3-nodetext {
  color: #FFFF00;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-Menu_item_3-submenu {
  left: calc(100% + 1px);
  top: calc(0px - 1px);
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Menu_1 > .menuWrapper {
  height: 59px;
  width: calc(100% - 2px);
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Button_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #20720D;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  box-shadow: 0px 3px 4px 0px #A0A0A0;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Button_2 {
  position: absolute;
  width: 109px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Button_2 > .clipping, #s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Button_2 > .paddingLayer {
  height: 46px;
  width: 109px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 15.0pt;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #08AE9E;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_4 {
  position: absolute;
  width: 323px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_4 > .clipping, #s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_4 > .paddingLayer {
  height: 50px;
  width: 323px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_4 span {
  color: #08AE9E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #08AE9E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #08AE9E;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  box-shadow: 0px 3px 4px 0px #A0A0A0;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Button_1 {
  position: absolute;
  width: 41px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Button_1 > .clipping, #s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Button_1 > .paddingLayer {
  height: 47px;
  width: 41px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_2 > .clipping, #s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_3 {
  position: absolute;
  width: 252px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_3 > .clipping, #s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 #s-Text_3 span#rtr-s-Text_3_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-df1e833c-5086-46c7-b7e3-405b6ae13846 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}