#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-fd183f42-3f54-4fdd-acff-2ae72bb26308 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}